@model List<EventosModel>
@{
    ViewData["Title"] = "Eventos e ticket";
}

<div class="text-center">
    <h6 class="display-4 titulo">Eventos</h6>
    <p class="titulo">Melhores eventos esta no Eventos e ticket</p>
    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (EventosModel eventos in Model)
            {
                <div class="card bg-light m-3" style="max-width: 18rem; padding: 0px !important">
                    <div class="card-header"><i class="fa-solid fa-tag"></i>&nbsp;@eventos.nome</div>
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-calendar-days"></i>&nbsp;@eventos.data_hora</h5><hr />
                        <p class="card-text text-secondary">R$ @eventos.preco</p>
                        <a asp-controller="Evento" class="btn btn-roxo" asp-action="DetalhesEvento" asp-route-id="@eventos.id">
                            Ver mais &nbsp;<i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>
<style>
    a {
        text-decoration: none;
    }
</style>